@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Oswald', sans-serif;
}

.container{
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
}

.logo{
    display: flex;
    align-items: center;}
    

.nav__logo{
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    min-height: 70px;
    align-items: center;
}

.hero{
    background-image: linear-gradient(to top, #09203f 0%, #537895 100%);
    color: aliceblue;
    display: grid;
    grid-template-rows: max-content 1fr;
    grid-template-areas:
    "nav" 
    "content";
    min-width: 100vh;
}
.nav{
    grid-area: nav;
    display: grid;
    justify-content: space-between;
    grid-auto-flow: column;
    gap: 1em;
    align-items: center;
    height: 90px;
}

.nav__list{
    list-style: none;
    display: grid;
    grid-auto-flow: column;
    gap:1em;
}
.nav__link{
    color: #fff;
    text-decoration: none;
}

.nav__logo{
    font-size: 1.8rem;
    font-weight: 300;
}

.nav__menu{
    display: none;
}

.nav__icon{
    width: 30px;
}
/* Hero main */

.hero__main{
    grid-area: content;
    display: grid;
    gap: 2em;
    /* grid-template-columns: repeat(auto-fit, minmax(300px - 1fr)) */
    grid-template-columns: 1fr 1fr;
    padding-bottom: 180px;
    align-items: center;
}

.hero__waves{
    grid-area: content;
    align-self: flex-end;
}

.hero__title{
    font-size:2.6rem;
    letter-spacing: 2px;
}

.hero__subtitle{
    margin-top: 1rem;
    margin-bottom: 1.5rem;
    font-size: 1.5rem;
    font-weight: 300;
}
.hero__img{
    width: 80%;
      
}

@media (max-width:800px){
    .nav__list{
        display: none;
    }
    .nav__menu{
        display: block;
    }
    .hero__main{
        grid-template-columns: 1fr;
        grid-template-rows: max-content max-content;
        text-align: center;
    }
}

.hero__picture{
    grid-row: 1/2;
}

.hero__img{
    max-width: 500px;
    display: block;
    margin: 0 auto;

}

.card{
    width: 150px;
    height: 150px;
  

}

.card1{
    width: 150px;
    height: 150px;
    display: grid;
    grid-auto-flow: column;
   
}

.card2{
    width: 150px;
    height: 150px;
   
    
}

.card3{
    width: 150px;
    height: 150px;

 
}

.card4{ 
    width: 150px;
    height: 150px;
 
}

